<h1>What places have you been?</h1>
<h3>Start a travel journal by entering the places you have been</h3>
<br>
<a href='/places/new'>Add a place you have visited</a><br><br>
<a href='/places'>Check out your places</a>