<h1>Add a new place to your travel journal</h1>
<form action="/places" method="post">
  <label for="cityName">Add a new city</label>
  <input id="cityName" name="cityName" type="text">
  <button type="submit">Add</button>
</form>